@import './function/px_function.scss';

// fix font-size 0
.at-button__text, .at-noticebar__content-inner {
  font-size: inherit;
}

.container {
  // height: 100%;
  min-height: 100%;
}

.taro_page {
  min-height: calc(100vh);
  height: calc(100vh);
}

.M-f-c-0 {
  color: #000 !important;
}

// 处理PC版和H5版本的样式差异

.weui-input, input {
  font-weight: inherit;
}

textarea {
  width: 100%;
  border-width: 0;
  background-color: none;
  font-weight: inherit;
}

taro-textarea-core {
  width: 100%!important;
  font-weight: inherit;
}

.taro_page {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #666;
  }
  &::-webkit-scrollbar-thumb:vertical:active {
    background-color: #333;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}
